@keyframes gelatine {

    from,
    to {
      -webkit-transform: scale(1, 1);
      transform        : scale(1, 1)
    }
  
    25% {
      -webkit-transform: scale(.9, 1.1);
      transform        : scale(.9, 1.1)
    }
  
    50% {
      -webkit-transform: scale(1.1, .9);
      transform        : scale(1.1, .9)
    }
  
    75% {
      -webkit-transform: scale(.95, 1.05);
      transform        : scale(.95, 1.05)
    }
  
    from,
    to {
      -webkit-transform: scale(1, 1);
      transform        : scale(1, 1)
    }
  
    25% {
      -webkit-transform: scale(.9, 1.1);
      transform        : scale(.9, 1.1)
    }
  
    50% {
      -webkit-transform: scale(1.1, .9);
      transform        : scale(1.1, .9)
    }
  
    75% {
      -webkit-transform: scale(.95, 1.05);
      transform        : scale(.95, 1.05)
    }
  }
  
  @-webkit-keyframes gelatine {
  
    from,
    to {
      -webkit-transform: scale(1, 1);
      transform        : scale(1, 1)
    }
  
    25% {
      -webkit-transform: scale(.9, 1.1);
      transform        : scale(.9, 1.1)
    }
  
    50% {
      -webkit-transform: scale(1.1, .9);
      transform        : scale(1.1, .9)
    }
  
    75% {
      -webkit-transform: scale(.95, 1.05);
      transform        : scale(.95, 1.05)
    }
  
    from,
    to {
      -webkit-transform: scale(1, 1);
      transform        : scale(1, 1)
    }
  
    25% {
      -webkit-transform: scale(.9, 1.1);
      transform        : scale(.9, 1.1)
    }
  
    50% {
      -webkit-transform: scale(1.1, .9);
      transform        : scale(1.1, .9)
    }
  
    75% {
      -webkit-transform: scale(.95, 1.05);
      transform        : scale(.95, 1.05)
    }
  }
  
  @keyframes emergeTop {
    0% {
      transform: translateY(-100px);
      opacity: 0;
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
  }
  
    100% {
      -webkit-transform: translateY(0px);
      transform        : translateY(0px);
      opacity          : 1;
    }
  }
  
  @keyframes emergeBottom {
    0% {
      transform: translateY(100px);
      opacity  : 0;
    }
  
    100% {
      -webkit-transform: translateY(0px);
      transform        : translateY(0px);
      opacity          : 1;
    }
  }
  @keyframes emergeLeft {
    0% {
      transform: translateX(100px);
      opacity: 0;
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
  }
    100% {
      transform: translateX(0px);
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
  }
  }
  
  @keyframes emergeRight {
    0% {
      transform: translateX(-100px);
      opacity: 0;
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
  }
    100% {
      transform: translateX(0px);
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
  }
  }
  @keyframes pulse {
    to {
        box-shadow: 0 0 0 10px rgba(0, 0, 0,.1);
    }
  }
  @keyframes grossi {
    0% {
      scale: 1;
    }
    50% {
      scale: 2;
    }
    100%{
      scale: 1;
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  /* Wobble Bottom */
@keyframes wobble-bottom {
	16.65% {
		transform: skew(-12deg);
	}

	33.3% {
		transform: skew(10deg);
	}

	49.95% {
		transform: skew(-6deg);
	}

	66.6% {
		transform: skew(4deg);
	}

	83.25% {
		transform: skew(-2deg);
	}

	100% {
		transform: skew(0);
	}
}